.drink-section {
    padding-top: 15px;
    width: 100%;
}

.full-menu {
    width: 100%;
}

.logo img {
    width: 200px;
}

.drink-card {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 3px solid;
    border-radius: 25px;
    width: 93%;
}

.drink-info {
    margin: auto;
    margin-left: 0;
}

.image {
    display: contents;
    margin: auto;
}

.image img {
    /* float:left; */
    padding: 9px;
    width: 15%;
    height: 15vw;
}

.title {
    margin-bottom: -18px;
    line-height: 1;
    font-weight: bold;
}

.ingredients {
    font-size: 15px;
}

.out {
    display: none;
}

.whisky {
    background-color: #FDEB7B;
}

.gin {
    background-color: #B8E2F2;
}

.scotch {
    background-color: #FDC773;
}

.tequila {
    background-color: #FFE6C7;
}

.rum {
    background-color: #CEB49D;
}

.brandy {
    background-color: #B45754;
}