.drink-section {
    padding-top: 15px;
    width: 100%;
}

.full-menu {
    width: 100%;
}

.logo img {
    width: 200px;
}

.drink-card, .instruction-card {
    display: flex;
    margin-left: 10px;
    border: 3px solid;
    width: 95%;
    box-sizing: border-box;
}

.drink-card {
    border-radius: 25px;
    z-index: 10;
}

.instruction-card {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 10px;
    margin-top: -22px;
    border-top: none;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    z-index: -1;
}

.instructions {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.drink-info {
    margin: auto;
    margin-left: 0;
}

.image {
    display: contents;
    margin: auto;
}

.image img {
    /* float:left; */
    padding: 9px;
    width: 15%;
    height: 15vw;
}

.title {
    margin-bottom: -18px;
    line-height: 1;
    font-weight: bold;
}

.ingredients, .instructions {
    font-size: 15px;
}

.out {
    display: none;
}

.whisky {
    background-color: #FDEB7B;
}

.instruction-card.whisky {
    background-color: #F9F3CC;
}

.gin {
    background-color: #B8E2F2;
}

.instruction-card.gin {
    background-color: #e9f6fb;
}

.scotch {
    background-color: #FDC773;
}

.vodka {
    background-color: #F7F7F7;
}

.instruction-card.vodka {
    background-color: #FFFFFF;
}

.tequila {
    background-color: #FFE6C7;
}

.instruction-card.tequila {
    background-color: #FFF7ED;
}

.rum {
    background-color: #CEB49D;
}

.instruction-card.rum {
    background-color: #E3D8CF;
}

.brandy {
    background-color: #B45754;
}